@import "tailwindcss";

@keyframes vertical-scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-vertical-scroll {
  animation: vertical-scroll 30s linear infinite;
}

html, body {
  overflow-x: hidden;
  background-color: #0b0b0b;
}
